In [1]:
import langchain
from langchain.utilities import SQLDatabase
# from langchain.prompts.prompt import PromptTemplate
# from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
# from langchain.vectorstores import Chroma
# from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
from langchain_experimental.sql import SQLDatabaseChain
from langchain.llms import GooglePalm

In [2]:
api_key= "AIzaSyBYkx-licsN8tCRVKv-Ok1jK4agbLRAyWo"
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# from langchain.utilities import SQLDatabase
db_user="root"
db_password="ashu22mysql"
db_host="localhost"
db_name="atliq_tshirts"
db=SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

In [23]:
# from langchain_experimental.sql import SQLDatabaseChain
db_chain=SQLDatabaseChain.from_llm(llm,db,verbose=True)
qns1= db_chain.run("how many t-shirts left for nike extra small and white color")

> Entering new SQLDatabaseChain chain...
how many t-shirts left for nike extra small and white color
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(56,)]
Answer:56
> Finished chain.

In [24]:
qns1

'56'

In [25]:
qns2=db_chain.run("how much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
how much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('280'),)]
Answer:280
> Finished chain.

In [26]:
qns3=db_chain.run("total stock quantity of white colour tshirts of levis company")

> Entering new SQLDatabaseChain chain...
total stock quantity of white colour tshirts of levis company
SQLQuery:SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('130'),)]
Answer:130
> Finished chain.

In [27]:
qns4=db_chain.run("how many white color levis tshirts do we have available")

> Entering new SQLDatabaseChain chain...
how many white color levis tshirts do we have available
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(37,), (72,), (21,)]
Answer:37
> Finished chain.

In [4]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "91"},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': "22292"},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': "16725.4"} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : "17462"},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : "290"
     },
    {'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size="L"
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer' : "290"
    }
]

In [5]:
# from langchain.embeddings import HuggingFaceEmbeddings
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')
e=embeddings.embed_query("How many white colour levi's tshirts do i have")

In [30]:
e[:5]

[0.0019350408110767603,
 0.016110986471176147,
 0.05155887454748154,
 -0.020233284682035446,
 0.08382885903120041]

In [6]:
to_vectorize=[" ".join(example.values()) for example in few_shots]
to_vectorize[0]

"How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 91"

In [7]:
from langchain_community.vectorstores.chroma import Chroma
vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)
print(vectorstore)

<langchain_community.vectorstores.chroma.Chroma object at 0x1293fae90>

In [8]:
from langchain_core.example_selectors.semantic_similarity import SemanticSimilarityExampleSelector

example_selector=SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2
)
example_selector.select_examples({"Question":"How many addidas t shirts left in the store"})

[{'Answer': '91',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '290',
  'Question': 'how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?',
  'SQLQuery': 'SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = \'Nike\' and size="L"\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ',
  'SQLResult': 'Result of the SQL query'}]

In [35]:
# from langchain.chains.sql_database.prompt import PROMPT_SUFFIX , _mysql_prompt
print(_mysql_prompt)
print(PROMPT_SUFFIX)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


Only use the following tables:
{table_info}

Question: {input}

In [34]:
from langchain_core.prompts.prompt import PromptTemplate

example_prompt=PromptTemplate(
    input_variables=["Question","SQLQuery","SQLResult", "Answer"],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}"
)
print(example_prompt)

input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'] template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}'

In [32]:
from langchain_core.prompts import FewShotPromptTemplate

prompt=FewShotPromptTemplate(example_selector=example_selector,example_prompt=example_prompt,prefix=_mysql_prompt,suffix=PROMPT_SUFFIX,input_variables=["input" ,"table_info",  "top_k"])
print(prompt)

input_variables=['input', 'table_info', 'top_k'] example_selector=SemanticSimilarityExampleSelector(vectorstore=<langchain_community.vectorstores.chroma.Chroma object at 0x1293fae90>, k=2, example_keys=None, input_keys=None, vectorstore_kwargs=None) example_prompt=PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}') suffix='Only use the following tables:\n{table_info}\n\nQuestion: {input}' prefix='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\n'

In [33]:
new_chain = SQLDatabaseChain.from_llm(llm,db,prompt)

ValidationError: 1 validation error for LLMChain
prompt
  Can't instantiate abstract class BasePromptTemplate with abstract methods format, format_prompt (type=type_error)

In [71]:
new_chain("how many white color Levi's t-shirts do i have?")

> Entering new SQLDatabaseChain chain...
how many white color Levi's t-shirts do i have?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(37,), (72,), (21,)]
Answer:37
> Finished chain.

{'query': "how many white color Levi's t-shirts do i have?", 'result': '37'}